body{
  padding-top: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

.nar-diy{
	width:100%;
	border-bottom: 2px;
	border-bottom-style: solid;
	border-bottom-color: #337ab7;
	padding-bottom: 8px;
	padding-left: 30%;
	
}

#nail{
	padding-top: 20px;
}

.caption{
	font-family: 'Raleway', sans-serif;
}

