h1{
	color:#000000;
	/*border-color: purple;
	border-width: 5px;
	border-style: solid;*/

	border: 2px dashed rgb(234,55,67);
}

li{
	color:rgb(0,255,0);
}

h4{
	color:rgba(0,255,100,0.2);
	background: rgb(255,100,80);
}

body{
	background: pink;
	/*background: url(http://weknowyourdreams.com/images/minions/minions-04.jpg);
	background-repeat: no-repeat;*/
	/*background-size: cover;*/
}