p{
	border: 2px solid blue;

	width: 50%;
	/*50% of the parent size, very useful*/
/*
	padding: 10px;*/
	padding-left: 40px;

	/*margin:20px 40px 500px 100px;
*/

/*margin: 0 auto 0 auto;*/
margin: 20 auto;

}